body
{
    background: coral;
}

    .login_div1 , .login_div2
    {
        background: white;
        float: none;
        border-radius: 15px;
    }


#player1_login , #player2_login
{
    display: inline-block;
    margin-left: 10px;}

body{
    text-align: center;
}

#tr{

    height: 100px;
}